@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html,
body {
  background-color: #EEEEEE;
  margin: 0;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

