.home-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row; /* Ensure the content is in a row */
}

.dot-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #007bff;
}
