.scroll {
    margin-top: 20px;
    height: 30px;
    background-color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: hidden;
}
.scroll-text-container {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    animation: scroll 30s linear infinite;
    flex-direction: column;
    flex-wrap: nowrap;
    white-space: nowrap;

}
.scroll-text {
    color: #000000;
    font-size: 15px;
    font-family: Poppins;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
@keyframes scroll {
    0% {
      transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
      transform: translateX(-100%); /* Move off-screen to the left */
    }
  }