.navbar {
    margin: 0;
    height: 40px;
    margin-top: 20px;
}
.innterview {
    background-color: #FFFFFF;
}
.navbar-wraper {
    display: flex;
    justify-content: space-around;
}
.navbar-logo {
    flex: 2;
    margin-left: 10px;
}
.navnar-menu {
    flex: 7;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: Poppins;
    font-size: 14px;
    border-radius: 27px;
    height: 40px;
}
.list-items {
    cursor: pointer;
    height: 32px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    color: #000000;
    opacity: 1;
    text-decoration: none;
}
.list-items:hover {
    background-color: #FF7F17;
}
.navbar-login {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    height: 35px;

}
.btn-login {
    height: 42px;
    width: 104px;
    background-color: #FFB929;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
    font-family: Poppins;
    font-size: 14px;
    margin-right: 20px;
}
.btn-signup {
    height: 42px;
    width: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-style: none;
    border: 1px solid #000000;
    cursor: pointer;
    font-family: Poppins;
    font-size: 14px;
}
